*{
	font-family: calibri;
}

a,
a:hover{
	color: orange;
	text-decoration: none;
}

table{
	font-size: 1.4em;
}

table#status{
	margin: 80px auto;
}

table#scores{
	margin: 0 auto;
}

table td{
	padding-right: 20px;
}

#offline,
#online{
	font-weight: bold;
}

#offline{
	color: red;
}

#online{
	color: green;
}

#notice{
	text-align: center;
}

h1{
	text-align: center;
}