body {
	margin:0;
	padding:0;
}

form#start-questionnairre,
div#loading {
	display:none;
}

form#start-questionnairre label {
	display:block;
	margin:1ex;
}
form#start-questionnairre label input{
	display:block;
}

div.card {
	height:20em;
	width:10em;
	background-color:#C5C;
	display:inline-block;
	margin:1ex;
}